/* Copyright 2007 Fabien Cazenave, all rights reserved. */

/******************************************
 *           keyboard selector 
 ******************************************/
#selector menulist {
  width: 150px; 
}

/******************************************
 *        keyboard general layout 
 ******************************************/
#keyboard {
  padding-left: 16px;
  padding-right: 16px;
  height: 300px;
}

/* all keys */
#keyboard label {
  width: 48px;
  height: 48px;
  font-size: 12px;
  vertical-align: center;
  margin: 1px;
  padding: 8px;
  border: 1px outset black;
  background-color: silver;
  -moz-border-radius: 8px;
  opacity: .2;
}

/* home row */
#keyboard #AC01, #keyboard #AC02, #keyboard #AC03, #keyboard #AC04, #keyboard #AC07, #keyboard #AC08, #keyboard #AC09, #keyboard #AC10 {
  font-weight: bold;
  border: 2px outset black;
} 

/* key colors */
#keyboard .left2  { background-color: #fb0; }
#keyboard .right2 { background-color: #f6f; }
#keyboard .left3, #keyboard .right3 { background-color: #ee9; }
#keyboard .left4, #keyboard .right4 { background-color: #9f9; }
#keyboard .left5, #keyboard .right5 { background-color: #99f; }

/* special keys */
#keyboard .wide  { width: 62px; visibility: hidden; } /* super, alt, menu */
#keyboard .wider { width: 80px; } /* tab, ctrl, caps, backslash */
#keyboard #BKSP { width: 112px; } /* backspace */
/* #BKSL { width:  88px; } /* backslash */
#keyboard #RTRN { width:  68px; } /* return (unsure about the key number on a US keyboard) */
#keyboard #LFSH { width:  60px; } /* L-shift */
#keyboard #RTSH { width: 150px; } /* R-shift */
#keyboard #CAPS { margin-right: 13px; } /* caps */
#keyboard #SPCE { /* spacebar */
  width: 278px;
  margin-left: 200px;
  /*cursor: pointer;*/
  /*background-color: #fff;*/
}
#RTRN, #BKSP, #LTAB, #LFSH, #RTSH, #CAPS { font-size: 24px !important; }
/* #RTRN, #BKSP, #LTAB, #BKSL, #AC02, #TLDE, #k064, #CAPS, #k109, #k113, #k115, #k116, #k117 { background-color: transparent; } */

/******************************************
 *        keyboard specific layouts
 ******************************************/

/*
 * International keyboards
 */
.standard #BKSL { /* Backslash */
  display: none;
}
.standard #RTRN { /* Enter */
  float: right; margin-top: -49px;
}
#keyboard #BKSP { /* backspace
  margin-left: 651px;
  margin-top: -249px;
  max-width: 112px; */
}

/*
 * US keyboards
 */
.us #BKSL { /* Backslash */
  margin-left: 683px;
  margin-top: -199px;
  max-width: 80px !important;
}
.us #RTRN { /* Enter */
  width: 118px !important;
}
.us #LFSH { /* L-shift */
  width: 110px !important;
}
.us #EUR1, .us #EUR2 { 
  display: none; 
}

/*
 * Typematrix
 */
.typematrix {
  margin-left: 28px;
}
.typematrix vbox {
  position: relative;
}
.typematrix hbox {
  min-height: 50px;
}
.typematrix label {
  width: 48px !important;
}
.typematrix #EUR1, .typematrix #EUR2 { 
  display: none; 
}
.typematrix #BKSP { /* backspace */
  margin-bottom: -49px;
  margin-left: -399px;
}
.typematrix #RTRN { /* Enter */
  margin-bottom: -49px;
  margin-left: -349px; 
}
.typematrix #AE05, .typematrix #AD05, .typematrix #AC05, .typematrix #AB05 { /* 5TGB */
  margin-right: 51px; 
}
.typematrix #CAPS { /* caps */
  margin-right: 1px !important;
  visibility: hidden;
}
.typematrix #LFSH { /* L-shift */
  margin-top: -49px;
}
.typematrix #RTSH { /* R-shift */
  margin-top: -49px;
  margin-left: 51px;
}
.typematrix #SPCE { /* spacebar */
  width: 250px !important; 
  margin-left: 201px;
}
.typematrix #BKSL { /* backslash */
  margin-left: 601px;
  margin-top: -99px;
  max-width: 48px !important;
}

/******************************************
 *           fingers
 ******************************************/
#fingers {
  height: 100px;
  max-height: 100px;
}
#fingers label {
  -moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  background-color: white;
  width: 30px;
}
#fingers #left5 {
  height: 60px;
}
#fingers #left4 {
  height: 90px;
}
#fingers #left3 {
  height: 100px;
}
#fingers #left2 {
  height: 80px;
}
#fingers #left1 {
  height: 40px;
}

/******************************************
 *           text boxes
 ******************************************/
#input {
  max-width: 800px;
  /* padding: 12px; */
}

#input textbox {
  font-family: monospace;
  font-size: 14px;
}

#input textbox.idle {
  color: gray;
}

#input textbox.error {
  color: red;
}

.statsWpm {
	width: 60px;
}
.statsCpm {
	width: 45px;
}
.statsTypo {
	width: 45px;
}

